<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Sampler Pad Tab Editor</title>
	<link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Yeh, probably best not to read beyond here... I am writing this in javascript and angularjs *i think* i don't really know what I am doing, is my first time so be gentle ;-P. making large tables is probably easier, I made it in js cause it i wanted to host here -->

</head>

<body id="home" ;>

	<h1>TAB 4 PADS</h1>
	<div ng-app="myApp" ng-controller="myCtrl" id="container" style="width:100%;">
		<div id="left-upper" style="float:left; width:33%;">
			<h2>SAMPLE MAP</h2>

			<table>
				<!-- <td>8</td> -->
				<td>
					<input type="text" ng-model="a8" maxlength="3">
				</td>
				<td>
					<input type="text" ng-model="b8" maxlength="3">
				</td>
				<td>
					<input type="text" ng-model="c8" maxlength="3">
				</td>
				<td>
					<input type="text" ng-model="d8" maxlength="3">
				</td>
				<td>
					<input type="text" ng-model="e8" maxlength="3">
				</td>
				<td>
					<input type="text" ng-model="f8" maxlength="3">
				</td>
				<td>
					<input type="text" ng-model="g8" maxlength="3">
				</td>
				<td>
					<input type="text" ng-model="h8" maxlength="3">
				</td>
				</tr>
				<tr>
					<!-- <td>7</td> -->
					<td>
						<input type="text" ng-model="a7" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="b7" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="c7" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="d7" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="e7" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="f7" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="g7" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="h7" maxlength="3">
					</td>
				</tr>
				<tr>
					<!-- <td>6</td> -->
					<td>
						<input type="text" ng-model="a6" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="b6" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="c6" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="d6" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="e6" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="f6" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="g6" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="h6" maxlength="3">
					</td>
				</tr>
				<tr>
					<!-- <td>5</td> -->
					<td>
						<input type="text" ng-model="a5" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="b5" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="c5" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="d5" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="e5" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="f5" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="g5" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="h5" maxlength="3">
					</td>
				</tr>
				<tr>
					<!-- <td>4</td> -->
					<td>
						<input type="text" ng-model="a4" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="b4" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="c4" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="d4" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="e4" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="f4" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="g4" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="h4" maxlength="3">
					</td>
				</tr>
				<tr>
					<!-- <td>3</td> -->
					<td>
						<input type="text" ng-model="a3" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="b3" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="c3" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="d3" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="e3" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="f3" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="g3" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="h3" maxlength="3">
					</td>
				</tr>
				<tr>
					<!-- <td>2</td> -->
					<td>
						<input type="text" ng-model="a2" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="b2" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="c2" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="d2" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="e2" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="f2" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="g2" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="h2" maxlength="3">
					</td>
				</tr>
				<tr>
					<!-- <td>1</td> -->
					<td>
						<input type="text" ng-model="a1" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="b1" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="c1" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="d1" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="e1" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="f1" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="g1" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="h1" maxlength="3">
					</td>
				</tr>
				<!-- <tr>
				<td></td>
				<td>a</td>
				<td>b</td>
				<td>c</td>
				<td>d</td>
				<td>e</td>
				<td>f</td>
				<td>g</td>
				<td>h</td>
			</tr> -->
			</table>
			<div id="left-lower" style="float:left; width:33%;">
				<h2>TAB</h2>
				<code>
					<table style="text-align:left; align-items: center; height: 10px;">
						<tr style="height: 10px;">
							<td colspan="1">Right Hand</td>
						</tr>
						<tr>
							<td style="height: 10px;">RR: </td>
							<td style="height: 10px;">|</td>
							<td style="width: 500px; height: 10px;">
								{{rightRingTab}}
							</td>
						</tr>
						<tr style="height: 10px;">
							<td style="height: 10px;">RM: </td>
							<td style="height: 10px;">|</td>
							<td style="width: 500px; height: 10px;">
								{{rightMiddleTab}}
							</td>
						</tr>
						<tr style="height: 10px;">
							<td style="height: 10px; /*this is so dumb but I don't know how else to do it*/">RI: </td>
							<td style="height: 10px;">|</td>
							<td style="width: 500px; height: 10px;">
								{{rightIndexTab}}
							</td>
						</tr>
						<tr style="height: 10px;">
							<td style="height: 10px;">RT: </td>
							<td style="height: 10px;">|</td>
							<td style="width: 500px; height: 10px;">
								{{rightThumbTab}}
							</td>
						</tr>
						<tr style="height: 10px;">
							<td colspan="1">Left Hand</td>
						</tr>
						<tr style="height: 10px;">
							<td style="height: 10px;">LT: </td>
							<td style="height: 10px;">|</td>
							<td style="width: 500px; height: 10px;">
								{{leftThumbTab}}
							</td>
						</tr>
						<tr style="height: 10px;">
							<td style="height: 10px;">LI: </td>
							<td style="height: 10px;">|</td>
							<td style="width: 500px; height: 10px;">
								{{leftIndexTab}}
							</td>
						</tr>
						<tr style="height: 10px;">
							<td style="height: 10px;">LM: </td>
							<td style="height: 10px;">|</td>
							<td style="width: 500px; height: 10px;">
								{{leftMiddleTab}}
							</td>
						</tr>
						<tr style="height: 10px;">
							<td style="height: 10px;">LR: </td>
							<td style="height: 10px;">|</td>
							<td style="width: 500px; height: 10px;">
								{{leftRingTab}}
							</td>
						</tr>
					</table>
					</left-align>
				</code>
			</div>
		</div>

		<div id="right" style="float:right; width:66%;">

			<h2>FINGERS</h2>

			<table>
				<tr>
					<th style="font-family: 'Press Start 2P', cursive;">LR</th>
					<th style="font-family: 'Press Start 2P', cursive;">LM</th>
					<th style="font-family: 'Press Start 2P', cursive;">LI</th>
					<th style="font-family: 'Press Start 2P', cursive;">LT</th>
					<th style="font-family: 'Press Start 2P', cursive;"></th>
					<th style="font-family: 'Press Start 2P', cursive;">RT</th>
					<th style="font-family: 'Press Start 2P', cursive;">RI</th>
					<th style="font-family: 'Press Start 2P', cursive;">RM</th>
					<th style="font-family: 'Press Start 2P', cursive;">RR</th>
				</tr>
				<tr>
					<td>
						<input type="text" ng-model="leftRing" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="leftMiddle" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="leftIndex" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="leftThumb" maxlength="3">
					</td>
					<td></td>
					<td>
						<input type="text" ng-model="rightThumb" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="rightIndex" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="rightMiddle" maxlength="3">
					</td>
					<td>
						<input type="text" ng-model="rightRing" maxlength="3">
					</td>
				</tr>
				<td colspan="9">
					<button ng-click="concatStrings()"> COMMIT
					</button>
				</td>
			</table>


		</div>
	</div>



	<script>
		var app = angular.module('myApp', []);

		app.controller('myCtrl', function($scope) {
			$scope.rightRing = "-";
			$scope.rightMiddle = "-";
			$scope.rightIndex = "-";
			$scope.rightThumb = "-";
			$scope.leftRing = "-";
			$scope.leftMiddle = "-";
			$scope.leftIndex = "-";
			$scope.leftThumb = "-";

			$scope.fingers = [
				$scope.rightRing,
				$scope.rightMiddle,
				$scope.rightIndex,
				$scope.rightThumb,
				$scope.leftRing,
				$scope.leftMiddle,
				$scope.leftIndex,
				$scope.leftThumb,
			];

			$scope.rightRingTab = "-";
			$scope.rightMiddleTab = "-";
			$scope.rightIndexTab = "-";
			$scope.rightThumbTab = "-";
			$scope.leftRingTab = "-";
			$scope.leftMiddleTab = "-";
			$scope.leftIndexTab = "-";
			$scope.leftThumbTab = "-";

			$scope.a1 = "a1";
			$scope.a2 = "a2";
			$scope.a3 = "a3";
			$scope.a4 = "a4";
			$scope.a5 = "a5";
			$scope.a6 = "a6";
			$scope.a7 = "a7";
			$scope.a8 = "a8";

			$scope.a = [$scope.a1, $scope.a2, $scope.a3, $scope.a4, $scope.a5, $scope.a6, $scope.a7, $scope.a8];

			$scope.b1 = "b1";
			$scope.b2 = "b2";
			$scope.b3 = "b3";
			$scope.b4 = "b4";
			$scope.b5 = "b5";
			$scope.b6 = "b6";
			$scope.b7 = "b7";
			$scope.b8 = "b8";

			$scope.b = [$scope.b1, $scope.b2, $scope.b3, $scope.b4, $scope.b5, $scope.b6, $scope.b7, $scope.b8];

			$scope.c1 = "c1";
			$scope.c2 = "c2";
			$scope.c3 = "c3";
			$scope.c4 = "c4";
			$scope.c5 = "c5";
			$scope.c6 = "c6";
			$scope.c7 = "c7";
			$scope.c8 = "c8";

			$scope.c = [$scope.c1, $scope.c2, $scope.c3, $scope.c4, $scope.c5, $scope.c6, $scope.c7, $scope.c8];

			$scope.d1 = "d1";
			$scope.d2 = "d2";
			$scope.d3 = "d3";
			$scope.d4 = "d4";
			$scope.d5 = "d5";
			$scope.d6 = "d6";
			$scope.d7 = "d7";
			$scope.d8 = "d8";

			$scope.d = [$scope.d1, $scope.d2, $scope.d3, $scope.d4, $scope.d5, $scope.d6, $scope.d7, $scope.d8];

			$scope.e1 = "e1";
			$scope.e2 = "e2";
			$scope.e3 = "e3";
			$scope.e4 = "e4";
			$scope.e5 = "e5";
			$scope.e6 = "e6";
			$scope.e7 = "e7";
			$scope.e8 = "e8";

			$scope.e = [$scope.e1, $scope.e2, $scope.e3, $scope.e4, $scope.e5, $scope.e6, $scope.e7, $scope.e8];

			$scope.f1 = "f1";
			$scope.f2 = "f2";
			$scope.f3 = "f3";
			$scope.f4 = "f4";
			$scope.f5 = "f5";
			$scope.f6 = "f6";
			$scope.f7 = "f7";
			$scope.f8 = "f8";

			$scope.f = [$scope.f1, $scope.f2, $scope.f3, $scope.f4, $scope.f5, $scope.f6, $scope.f7, $scope.f8];

			$scope.g1 = "g1";
			$scope.g2 = "g2";
			$scope.g3 = "g3";
			$scope.g4 = "g4";
			$scope.g5 = "g5";
			$scope.g6 = "g6";
			$scope.g7 = "g7";
			$scope.g8 = "g8";

			$scope.g = [$scope.g1, $scope.g2, $scope.g3, $scope.g4, $scope.g5, $scope.g6, $scope.g7, $scope.g8];

			$scope.h1 = "h1";
			$scope.h2 = "h2";
			$scope.h3 = "h3";
			$scope.h4 = "h4";
			$scope.h5 = "h5";
			$scope.h6 = "h6";
			$scope.h7 = "h7";
			$scope.h8 = "h8";

			$scope.h = [$scope.h1, $scope.h2, $scope.h3, $scope.h4, $scope.h5, $scope.h6, $scope.h7, $scope.h8];

			$scope.sampler = [
				$scope.a1, $scope.a2, $scope.a3, $scope.a4, $scope.a5, $scope.a6, $scope.a7, $scope.a8,
				$scope.b1, $scope.b2, $scope.b3, $scope.b4, $scope.b5, $scope.b6, $scope.b7, $scope.b8,
				$scope.c1, $scope.c2, $scope.c3, $scope.c4, $scope.c5, $scope.c6, $scope.c7, $scope.c8,
				$scope.d1, $scope.d2, $scope.d3, $scope.d4, $scope.d5, $scope.d6, $scope.d7, $scope.d8,
				$scope.e1, $scope.e2, $scope.e3, $scope.e4, $scope.e5, $scope.e6, $scope.e7, $scope.e8,
				$scope.f1, $scope.f2, $scope.f3, $scope.f4, $scope.f5, $scope.f6, $scope.f7, $scope.f8,
				$scope.g1, $scope.g2, $scope.g3, $scope.g4, $scope.g5, $scope.g6, $scope.g7, $scope.g8,
				$scope.h1, $scope.h2, $scope.h3, $scope.h4, $scope.h5, $scope.h6, $scope.h7, $scope.h8
			];

			$scope.LR = "";
			$scope.LM = "";
			$scope.LI = "";
			$scope.LT = "";
			$scope.RR = "";
			$scope.RM = "";
			$scope.RI = "";
			$scope.RT = "";

			$scope.concatStrings = function($event) {

				$scope.rightRingTab = $scope.combine_and_adjust($scope.rightRingTab, $scope.rightRing);
				$scope.rightMiddleTab = $scope.combine_and_adjust($scope.rightMiddleTab, $scope.rightMiddle);
				$scope.rightIndexTab = $scope.combine_and_adjust($scope.rightIndexTab, $scope.rightIndex);
				$scope.rightThumbTab = $scope.combine_and_adjust($scope.rightThumbTab, $scope.rightThumb);
				$scope.leftRingTab = $scope.combine_and_adjust($scope.leftRingTab, $scope.leftRing);
				$scope.leftMiddleTab = $scope.combine_and_adjust($scope.leftMiddleTab, $scope.leftMiddle);
				$scope.leftIndexTab = $scope.combine_and_adjust($scope.leftIndexTab, $scope.leftIndex);
				$scope.leftThumbTab = $scope.combine_and_adjust($scope.leftThumbTab, $scope.leftThumb);


				$scope.rightRing = "-";
				$scope.rightMiddle = "-";
				$scope.rightIndex = "-";
				$scope.rightThumb = "-";
				$scope.leftRing = "-";
				$scope.leftMiddle = "-";
				$scope.leftIndex = "-";
				$scope.leftThumb = "-";
			}

			$scope.combine_and_adjust = function(tabString, newString) {
				tabString = tabString + newString;
				var extraDashes = 4 - newString.length;
				while (extraDashes > 0) {
					extraDashes--;
					tabString = tabString + '-'
				}
				return tabString
			}

		});
	</script>

</html>

</body>

</html>
